<!-- TIGER_TODO -->
{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for entering realtime scores.
*/}}
{{define "title"}}Scoring Panel{{end}}
{{define "body"}}
<div id="matchName">&nbsp;</div>
<div id="alliance">
  <div class="scoring-section">
    <div>
      <div>&nbsp;</div>
      <div class="goal-header">High</div>
      <div class="goal-header">Low</div>
    </div>
    <div>
      {{template "goal" dict "level" "High" "plus" "W" "minus" "Q"}}
      {{template "goal" dict "level" "Low" "plus" "S" "minus" "A"}}
    </div>
  </div>
  <div class="scoring-section">
    <div class="scoring-header">
      <div>&nbsp;</div>
      <div>Endgame</div>
    </div>
    {{range $i := seq 1}}
      <div>
        <div id="team{{$i}}" class="team robot-field"></div>
        <div id="endgameStatus{{$i}}" class="endgame-status robot-field"
          onclick="handleClick('endgameStatus', {{$i}});">
          <div class="value"></div>
        </div>
      </div>
    {{end}}
  </div>
</div>
<div id="commitMatchScore">
  <button type="button" class="btn btn-info" onclick="commitMatchScore();">
    Commit Final Match Score
  </button>
</div>
<div id="postMatchMessage">Waiting for the next match...</div>
{{end}}
{{define "head"}}
<link rel="manifest" href="/static/manifest/{{.Alliance}}_scoring.manifest">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link href="/static/css/scoring_panel.css" rel="stylesheet">
{{end}}
{{define "script"}}
<script src="/static/js/match_timing.js"></script>
<script src="/static/js/scoring_panel.js"></script>
{{end}}
{{define "goal"}}
<div class="goal">
  <div class="number-button minus" onclick="handleClick('{{.minus}}');">
    <div class="shortcut">{{.minus}}</div>-<div class="shortcut" style="opacity: 0;">{{.minus}}</div>
  </div>
  <div id="Cones{{.level}}"></div>
  <div class="number-button plus" onclick="handleClick('{{.plus}}');">
    <div class="shortcut">{{.plus}}</div>+<div class="shortcut" style="opacity: 0;">{{.plus}}</div>
  </div>
</div>
{{end}}
